.header{
    position: relative;
    width: 100%;
    min-height: 320px;
    background-color: #4184f3;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

.headerPattern{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 1023px 1009px;
    background: url(pattern.png) center center;
    opacity: 0.5;
    z-index: 2;
}

@media (max-width: 640px){
.headerPattern{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(pattern.png) center center;
    background-size: 511px 503px;
}
}

@media (-webkit-min-device-pixel-ratio: 2){
.headerPattern{
    background: url(pattern@x2.png) center center;
} 
}

.headerContent{
    position: relative;
    overflow: hidden;
    padding: 80px 0;
    color: rgba(255,255,255,1);
    text-align: center;
    z-index: 5;
}

.initials a img{
    display: block;
    margin: 0 auto 50px;
}

.headerDescription{
    color: #fff;
    font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial',sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin: 0 0 60px;
}

.actionHero{
    border-radius: 2px;
    text-align: center;
    color: #fff;
    display: block;
    font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial',sans-serif;
    background-color:  rgba(255,255,255,.15);
    transition: border-color .2s ease;
    /*border-color: rgba(255,255,255,.15);
    border-style: solid;
    border-width: 1px;*/
    margin: 0 0 20px;
    padding: 15px 0;
    width: 33%;
    float: left;
    margin-left: 2%;
    font-size: 15px;
    text-transform: uppercase;
}

.actionHero:hover, .actionHero:active, .actionHero:focus{
    color: #fff;
    background-color: rgba(255,255,255,.25);
    transition: border-color .2s ease;
    border-color: rgba(255,255,255,.25);
}

.actionHero2{
    border-radius: 2px;
    text-align: center;
    color: #fff;
    display: block;
    font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial',sans-serif;
    background-color:  rgba(255,255,255,.15);
    transition: border-color .2s ease;
    /*border-color: rgba(255,255,255,.15);
    border-style: solid;
    border-width: 1px;*/
    margin: 0 0 20px;
    padding: 15px 0;
    width: 33%;
    float: left;
    margin-left: 2%;
    font-size: 15px;
    text-transform: uppercase;
}

.actionHero2:hover, .actionHero2:active, .actionHero2:focus{
    color: #fff;
    background-color: rgba(255,255,255,.25);
    transition: border-color .2s ease;
    border-color: rgba(255,255,255,.25);
}

.actionHero3{
    background: #e9f3ff;
    border-radius: 2px;
    text-align: center;
    clear: right;
    display: block;
    color: #4184f3;
    transition: background-color .2s ease;
    margin: 0 0 20px;
    padding: 16px 0;
    border: none;
    width: 27%;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
}

.actionHero3:hover, .actionHero3:active, .actionHero3:focus{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.17);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.17);
    transition: letter-spacing .05s ease;
    border: none;
}

@media screen and (max-width:640px){
    .actionHero{
        width:48.5%;
        float: left;
        margin:0;
        margin-bottom: 20px;
    }
    
    .actionHero2{
        width: 48.5%;
        float: right;
        margin:0;
        margin-bottom: 20px;
    }
    
    .actionHero3{
        width: 100%;
        float: none;
        margin:0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:560px){
    .actionHero, .actionHero2, .actionHero3{
        width: 96%;
        float: none;
        margin-left:2%;
        margin-right: 2%;
    }
}